<h1><%= @discount.name %> - Discount for <%= @discount.merchant.name %></h1>
<p> <%= @discount.qty_threshold %> Items - Quantity Minimum for Discount</p>
<p> <%= @discount.pct_discount %>% - Percentage Off (if threshold is met.)</p>